* {
  margin: 0;
  border-collapse: collapse;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 1rem;
  font-family: "Palanquin Dark";
  text-transform: uppercase;
  color: #393550;
  font-weight: 900;
}

.nadpis {
  font-size: 5rem;
  font-family: "Palanquin Dark";
  margin: 2rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: flex-end;
  background: #4637a5;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-item {
  margin: 1rem;
  font-family: "Palanquin Dark";
}

.menu-item:hover {
  color: gainsboro;
}

header {
  margin: 0 auto;
  color: #fff;
  background: url(bg-image.jpg) center;
  background-size: cover;
  height: 70vh;
  display: flex;
}

.motto {
  font-family: "Palanquin Dark";
  font-size: 4rem;
  margin: 4rem;
  display: flex;
  width: 40%;
  text-shadow: 1px 1px 5px black;
}
.technologie {
  align-content: center;
  width: 70vw;
}
.projects {
  align-content: stretch;
  width: 70vw;
  margin-top: 2rem;
}
.hotovy_projekt {
  margin: 2rem;
  margin-bottom: 2rem;
}

/* Fonts */

.amiri-bold-italic {
  font-family: "Amiri", serif;
  font-weight: 700;
  font-style: italic;
}

.icons {
  width: auto;
  height: 90px;
  margin: 20px;
}

figure {
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
}
.technologie-nadpis {
  font-family: "Palanquin Dark";
  font-size: 4rem;
  padding-top: 2rem;
}
.text-standart {
  font-family: "Roboto";
  font-size: 1.5rem;
  margin: 2rem;
}

.foot {
  background-color: #4637a5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.foot > div {
  padding: 3rem;
  color: white;
}

label {
  font-size: 0.9rem;
}

.me {
  width: 300px;
  height: auto;
}
input {
  margin: 0.2rem;
}
.logo {
  position: absolute;
  font-size: 1.5rem;
  top: 12px;
  left: 20px;
  font-family: "Amiri";
  color: white;
}
